body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    margin-bottom: 100px;
    font-size: 30px;
    font-weight: bold;
}
.calculator{
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100%;
    width: 50vh;    
    padding-top: 0;
}

.calculator #screen{
    background-color: white ;
    height: 15vh;
    width: 100%;
    padding-top: 0;
    font-size: 60px;
    font-weight: bold;
}


.calculator button{
    width: 112.2px;
    height: 112px;
    background-color: bisque;
    font-size: 30px;
    font-weight: bold;
}

.calculator .div{
    margin: 0;
}

